<div class="error-container">
  <div class="wrapper fadeInDown">
    <div class="row" id="formContent">
      <div class="col">
        <div class="error">
          <span class="fa-icon" style="font-size: 4rem; color: rgb(241, 81, 81)"
            ><fa-icon [icon]="exclamationIcon"></fa-icon
          ></span>
          <h1>¡LA RUTA SOLICITADA NO EXISTE!</h1>
          <button style="margin-bottom: 2rem" (click)="goToHome()">IR A INICIO</button>
        </div>
      </div>
    </div>
  </div>
</div>
