@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */
.titulo-listado {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: rgba(110, 11, 156, 0.87);
  padding: 5px 15px;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px rgb(192, 28, 233);
}


.listado-container {
  font-family: "Poppins", sans-serif;
  background-image: url("../../../assets/juegos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  padding-top: 6rem;
}

.contenedor-tabla {
  width: 70vw;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 16px rgb(196, 5, 170);
}

.tr:hover {
  background: rgba(50, 50, 50, 0.7);
  color: rgb(196, 5, 170);
}

// Responsive design

@media screen and (max-width: 480px){
  .listado-container {
    font-size: 12px;
  }
}